name: Run golden test

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
    - name: Check out our repo
      uses: actions/checkout@v6

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: Test
      run: |
        scripts/golden-test.sh
